#container {
  position: relative;
  margin: auto;
  top: 100px;
  border: 1px solid rgb(189, 208, 218);
  border-radius: 10px;
  height: 230px;
  width: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  'input input input clear'
  'main main main main'
  ;
}

input {
  grid-area: input;
  border: 1px solid #F1F3F4;
  text-align: right;
  font-size: 24px;
  width: 242px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

input:hover {
  border: 1px solid rgb(37, 142, 194);
  border-radius: 10px;
}

.numberButtons {
  border-radius: 5px;
  border-color: #F1F3F4;
  border: 1px #F1F3F4 solid;
  background-color: #F1F3F4;
}

.numberButtons:hover {
  background-color: #dfe1e5;
}

.opButtons {
  border-radius: 5px;
  border-color: #F1F3F4;
  border: 1px #F1F3F4 solid;
  background-color: #dfe1e5;
}

.opButtons:hover {
  background-color: rgb(189, 177, 177);
}

#C {
  border-radius: 5px;
  border-color: #F1F3F4;
  border: 1px #F1F3F4 solid;
  color: #F1F3F4;
  background-color: #4285f4;
}

#C:hover {
  background-color: #0d53c4;
}